<!DOCTYPE html>
<html>
  <head>
    <title>CartoonMiniProjectV2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <footer><ul>
    <li><%= link_to "Creators", creators_path %></li>
    <li><%= link_to "Shows", shows_path %></li>
    <li><%= link_to "Characters", characters_path %></li>
  </ul></footer>
</html>
